body{
    font-size: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  p {
    font-size: 8em;
  }
  
  input[type=text] {
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(3, 8, 53);
    border-radius: 4px;
    resize: vertical;
    background-color: rgb(1, 2, 46);
    color:rgb(145, 139, 139);
  
  }
  input[type=button] {
    background-color:  rgb(3, 8, 53);
    color:rgb(145, 139, 139);
    border-color: rgb(3, 8, 53);
    font-size: 30px;
  }
  input[type=button]:active{ 
    background:rgb(226, 223, 223)
  }
  a{
    font-size: 30px;
    color:rgb(145, 139, 139);
    text-decoration-line: none;
  }
  button{
    background-color:  rgb(3, 8, 53);
    font-size: 30px;
    color:rgb(145, 139, 139);
    background-color:  rgb(3, 8, 53);
    margin: 80px;
  }

  