body{
    font-size: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: black;
  }
  p {
    font-size: 1em;
  }
  h1 {
    font-size: 1.2em;
  }
  h2{
    font-size: 2em;
  }
 .images{
   margin-left: 0em;
   order: initial;

 }
  
  input[type=text] {
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 4px;
    resize: vertical;
    background-color: rgb(1, 2, 46);
    color:rgb(255, 255, 255);
  
  }
  input[type=button] {
    background-color:   rgb(68, 68, 68);
    color:rgb(255, 255, 255);
    border-color:  rgb(68, 68, 68);
    font-size: 1.4em;
  }
  input[type=button]:active{ 
    background:rgb(226, 223, 223)
  }
  a{
    font-size: 1.4em;
    color:rgb(145, 139, 139);
    text-decoration-line: none;
  }
  button{
    background-color:   rgb(68, 68, 68);
    font-size: 2em;
    color: white;
    background-color:   rgb(22, 22, 22);
    margin: 80px;
  }
  .header{
    max-width: 80vw;
  }
  #container{
    font-display: flex;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .form1 {
    border: 3vh;
    display: flex;
    border-color: gray;
    display: flex;
    background-color: white;
    margin-left: 65%;
    margin-right: 5%;
    padding: 0em;
    padding-bottom:  2em;
    flex-direction: column;
  }
  #heading{
    margin-right: auto;
    margin-left: auto; 
    color: gray; 
  }
  .row{
    padding: 0.3em;
  }
  

  