/*obecná a nutná nastavení pro funkčnost
nešahat na height, padding, margin!!!*/
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    background-color: black;
    color: beige;   
}
#container{
    min-height: 100%;
    position: relative;
}
#main{
    overflow: auto;
    padding-bottom: 3em;
}
title{
    font-family: serif;
    color: floralwhite;
}
#content{
    padding-right: 10%;
}
#menu{
    position: fixed;
    top:0;
    right:0;
    order: 2;
    width: 10%;
    height: 100%;
}



/*Nastavení ikonek sociálních médií*/
.sm {
    transition: 0.2s ease;
    height: 40px;
    width: 40px;
    transition: 1s ease;
    padding-right: 1em;
    padding-left: 1em;
}
.sm:hover{
    width: 50px;
    height: 50px;
    transition: 0.2s ease;
    padding-left: 2em;
    padding-right: 2em;
}



/*Nastavení footeru*/
#foot {
    padding-left: 4em;
    padding-top: 1.5em;
    height: auto;
    background-color: rgb(150,150,150);
    flex-direction: row;
    justify-content: space-around;
    transition: 0.2s ease;
    clear: both;

}
#foot:hover{
    background-color: rgb(150, 150, 150);
    transition: 0.2s ease;
}
#kontakt{
    order:1;
}
#socsite{
    order: 2;
    justify-content: space-evenly;
}
table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    color: rgb(59, 59, 59);
    min-width: 24%;
}
#foot1 {
    order:2;
}
#foot2{
    order:3;
    width: 20%;
}
#foot3 {
    order:4;
    width: 20%;
}


/*Nastavení banneru a nav baru*/
nav {
    text-align: center;
    margin: 0px;
    height: 100%;
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: rgb(224, 224, 224);
    transition: 0.5s ease;
}
nav:hover {
    background-color: rgb(224, 224, 224);
    transition: 0.5s ease;;
}
#Hs {
    text-align: center;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 1.4em;
    order: 1;
    padding: 0.5em;
    transition: 0.5s ease;
}
#Do {
    text-align: center;
    transition: 0.5s ease;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 1.4em;
    order: 2;
    padding: 0.5em;
}
#Up {
    transition: 0.5s ease;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 1.4em;
    order: 3;
    padding: 0.5em;
}
#On {
    transition: 0.5s ease;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 1.4em;
    order: 4;
    padding: 0.5em;
}
#Vp {
    transition: 0.5s ease;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 1.4em;
    order: 5;
    padding: 0.5em;
}
#Vp:hover,#Hs:hover,#On:hover,#Up:hover,#Do:hover{
    color: rgb(95, 95, 95);
    transition: 0.5s ease;
    font-size: 1.6em;
    font-weight: bold;
}
#banner {
    width: 100%;
    padding-right: 10%;
}



/*Nastavení obrázků profilů na první straně*/
#fpprof{
    height: 10em;
    width: 9em;
}



/*Nastavení profilů na první straně*/
#hotp{
    margin: 4em;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
#emily{
    padding: 1em;
    order:1;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
    transition: 0.7s ease;
    
}
#emily:hover,#jose:hover,#lenny:hover,#napoleon:hover,#shaun:hover,#tiffany:hover{
    background-color: rgb(90, 90, 90);
    font-size: 1.5rem;
    padding: 1.5em;
    transition: 0.7s ease;
    
}
#jose{
    transition: 0.7s ease;
    padding: 1em;
    order: 2;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
#lenny{
    transition: 0.7s ease;
    padding: 1em;
    order: 3;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
#napoleon{
    transition: 0.7s ease;
    padding: 1em;
    order: 4;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
#shaun{
    transition: 0.7s ease;
    padding: 1em;
    order: 5;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
#tiffany{
    transition: 0.7s ease;
    padding: 1em;
    order: 6;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
}





/*Nastavení zbytku elementů na hlavní straně*/
h1{
    text-align: center;
    color:  rgb(95, 95, 95);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(150,150,150);
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    color: rgb(59, 59, 59);
}
p{
    padding: 0%;
}
#frontpage{
    background-repeat: round;
    margin: 5em;
}
button{
    background-color: rgb(90,90,90); 
    border: solid, 0.5em, rgb(0, 0, 0);
    color: white;
    padding: 1em;
    padding-bottom: 2em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.7em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn{
    color: black;
    background-color: white;
    border: solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: auto;
    margin-left: auto;
}
.btn:hover {
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: solid rgb(182, 182, 182);
  }
/*Nastavení profilů, textové části*/

#top{
    justify-content: space-around;   /*nadřazený flex display*/
    display: flex;                      
    flex-wrap: wrap;
    flex-flow: row;
    }
    #levo{                 /*Levá strana stránky*/
        justify-content: space-evenly;
        order: 1;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
    }
        #obrazek{
            padding: 3em;                       /*Dvě podkategorie, obrázek a lokace*/
            height: 27em;
            width: 23em;
            order: 1;
        }

    #pravo{   
        width: 70%;                   /*Pravá strana stránky*/
        justify-content: space-evenly;
        order: 2;
        display: flex;
        flex-wrap: wrap;
        padding-top: 3.5%;
    }
            #ot{                        /*jednotlivé otázky v této kategorii*/
        width: 100%;
    }
#spodek{
    justify-content: space-evenly;                 /*spodní část stránky*/       
    display: flex;
    flex-wrap: wrap;
    padding-left: 7%;
    padding-right: 10%;
}
    #kratkaot{
        width: 50%;
        height: auto;
        justify-content: flex-start;
        order: 1;                               /*dlouhé otázky, krátké odpovědi*/
        display: flex;
        flex-wrap: wrap;
    }
           #zkus{
            order: 1;
            display: flex;                                  /*Dvě podkategorie*/
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-direction:column;
        }
        #momcil{
            order: 2;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-direction:column;
        }
            .otazka2{
                order: 1; 
                width: 100%;
        }
            .odpoved2{
                order:2;                    /*otázky a odpovědi k této otázce*/
                width:100%;
            
        }
        .otazka3{
            order:3;
            width: 100%;
        }
        .odpoved4{
            order:4;
            width: 100;
        }
            #mapa{
        width: 50%;
        justify-content: space-evenly;
        order: 2;
        display: flex;
        flex-wrap: wrap;
        padding: 3em; 
    }
#nprofil{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column; 
    justify-content: space-evenly;
    text-align: center;
    width: 100%;

}
#content{
    padding: 5%;
    padding-right: 10%;
}
#usa:hover,#cz:hover{
    height: 3.5em;
    width: 3.5em;
    transition: 0.5s ease;
}
#usa,#cz{
    height: 3em;
    width: 3em;
    transition: 0.5s ease;
}

#vlajka{
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition: 0.5s ease;
}
#onas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#s1{
    order:1;
    width: 50%;
    padding-right: 3%;
}
#s2{
    order:2;
    width: 50%;
    padding-right: 3%;
